.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 280px 120px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
